In [49]:
import pandas as pd

In [50]:
import numpy as np

In [51]:
df1=pd.read_csv('Regressor_results_mod.csv')
df2=pd.read_csv('RNN_results.csv')

In [52]:
len(df1)

2586

In [53]:
len(df2)

2586

In [54]:
df=df1.join(df2,how='outer')

In [55]:
df.head()

,High_regress,Low_regress,Open_regress,Close_regress,High_RNN,Low_RNN,Open_RNN,Close_RNN
0,176.166031,172.906555,174.035049,174.949005,-0.730683,-0.702834,-0.701247,-0.697405
1,135.153732,132.452988,133.442474,134.097382,0.331519,0.342548,0.321756,0.335208
2,134.276260,131.587463,132.573990,133.223358,-0.249825,-0.212222,-0.208299,-0.198306
3,127.860909,125.259506,126.224289,126.833145,-0.115043,-0.102053,-0.110373,-0.095470
4,163.309052,160.224731,161.309647,162.142395,-0.054895,-0.038586,-0.049983,-0.035920

In [56]:
df_3=pd.read_csv('dataset_target.csv')

In [57]:
dates=df_3.iloc[:]['Date']

In [58]:
date_2=dates[50:]

In [59]:
date_p=pd.DataFrame(list(zip(date_2)),columns=['Date'])

In [60]:
date_p.head()

         Date
0  2010-03-16
1  2010-03-17
2  2010-03-18
3  2010-03-19
4  2010-03-22

In [66]:
date_p_2=date_p.join(df,how='outer')

In [67]:
date_p_2.head()

,Date,High_regress,Low_regress,Open_regress,Close_regress,High_RNN,Low_RNN,Open_RNN,Close_RNN
0,2010-03-16,176.166031,172.906555,174.035049,174.949005,-0.730683,-0.702834,-0.701247,-0.697405
1,2010-03-17,135.153732,132.452988,133.442474,134.097382,0.331519,0.342548,0.321756,0.335208
2,2010-03-18,134.276260,131.587463,132.573990,133.223358,-0.249825,-0.212222,-0.208299,-0.198306
3,2010-03-19,127.860909,125.259506,126.224289,126.833145,-0.115043,-0.102053,-0.110373,-0.095470
4,2010-03-22,163.309052,160.224731,161.309647,162.142395,-0.054895,-0.038586,-0.049983,-0.035920

In [68]:
date_p_2.to_csv('dated_list.csv',index=False)

In [83]:
df_3=pd.read_csv('Amazon_details_final.csv')

In [84]:
len(df_3)

495

In [87]:
df=pd.read_csv('dated_list.csv')

In [88]:
len(df)

2586

In [89]:
i=0
dic={}
while i<len(df_3):
    dic[df_3.iloc[i]['dates']]=df_3.iloc[i]['events']
    i+=1

In [96]:
i=0
events=[]
while i<len(df):
    if dic.get(df.iloc[i]['Date']) is not None:
        value=dic.get(df.iloc[i]['Date'])
        events.append(1)
    else:
        events.append(0)
    i+=1

In [97]:
df['events']=events

In [98]:
df.head()

,Date,High_regress,Low_regress,Open_regress,Close_regress,High_RNN,Low_RNN,Open_RNN,Close_RNN,events
0,2010-03-16,176.166031,172.906555,174.035049,174.949005,-0.730683,-0.702834,-0.701247,-0.697405,0
1,2010-03-17,135.153732,132.452988,133.442474,134.097382,0.331519,0.342548,0.321756,0.335208,0
2,2010-03-18,134.276260,131.587463,132.573990,133.223358,-0.249825,-0.212222,-0.208299,-0.198306,0
3,2010-03-19,127.860909,125.259506,126.224289,126.833145,-0.115043,-0.102053,-0.110373,-0.095470,0
4,2010-03-22,163.309052,160.224731,161.309647,162.142395,-0.054895,-0.038586,-0.049983,-0.035920,0

In [99]:
df.to_csv('det_added.csv',index=False)

In [102]:
df_k=df[df['events']==1]

In [103]:
len(df_k)

304